<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>export_orders_production</name>
	<displayName><![CDATA[NVN Export Orders]]></displayName>
	<version><![CDATA[1.8.3]]></version>
	<description><![CDATA[A module to export orders made on Your page.]]></description>
	<author><![CDATA[netvianet.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[If you uninstall, settings will be lost. Are you sure?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>